.bgimage1 {
  background-image: url("../../assets/images/bg1.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
}
.bgimage2 {
  background-image: url("../../assets/images/bg2.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
}
.bgimage3 {
  background-image: url("../../assets/images/bg3.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
}
.carousel-container {
  width: 100%;
  margin: 0 auto;
  height: 90vh;
  position: relative;
}

.slick-prev {
  display: none !important;
}

.slick-next {
  display: none !important;
}
.slick-dots {
  display: none !important;
}
